<article class="impressum-content">

  <h2>Impressum</h2>

  {{> impressum-angaben}}

  {{> impressum-bildquellen}}

  {{> impressum-haftung}}

  <section aria-labelledby="section-quellcode">
    <h3 id="section-quellcode">Quellcode &amp; Lizenz</h3>
    <p>
      Der Quellcode dieser Website steht unter der
      <a href="{{basePath}}LICENSE" target="_blank" rel="noopener noreferrer">EUPL v. 1.2</a>
      auf
      <a href="https://github.com/bmarwell/musik-in-schaumburg.de" target="_blank" rel="noopener noreferrer">GitHub</a>
      zur Verfügung.
    </p>
  </section>

  {{> matomo-optout}}

</article>
