<section aria-labelledby="section-angaben">
  <h3 id="section-angaben">Angaben gemäß § 5 TMG</h3>
  <address>
    Benjamin Marwell<br>
    Brabeckstr. 84 B<br>
    30559 Hannover
  </address>
  <h4>Kontakt</h4>
  <address>
    Telefon: <a href="tel:+4951147416950">+49&nbsp;511&nbsp;47416950</a><br>
    E-Mail: bmarwell [plus] musik [at] gmail [dot] com
  </address>
  <h4>Redaktionell verantwortlich</h4>
  <address>
    Benjamin Marwell<br>
    Brabeckstr. 84 B<br>
    30559 Hannover
  </address>
  <p>Quelle: <a href="https://www.e-recht24.de" target="_blank" rel="noopener noreferrer">eRecht24</a></p>
</section>
