<footer class="site-footer">
  <div class="container">
    <span>© {{year}} Musik in Schaumburg</span>
    <span class="maintainer-notice">
      Betreut von <a href="https://bmarwell.de" target="_blank" rel="noopener noreferrer">Benjamin Marwell</a>
      &nbsp;·&nbsp;
      <a href="{{basePath}}LICENSE" target="_blank" rel="noopener noreferrer">EUPL v. 1.2</a>
      &nbsp;·&nbsp;
      <a href="https://github.com/bmarwell/musik-in-schaumburg.de" target="_blank" rel="noopener noreferrer">Quellcode</a>
      &nbsp;·&nbsp;
      <a href="{{basePath}}impressum/">Impressum</a>
    </span>
    <span class="sponsor-links">
      <iframe src="https://github.com/sponsors/bmarwell/button" title="Sponsor bmarwell" height="32" width="114" class="github-sponsor-button"></iframe>
      <a href="https://www.buymeacoffee.com/bmarwell" target="_blank" rel="noopener noreferrer">
        <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" class="bmc-button-small">
      </a>
    </span>
  </div>
</footer>
