<footer class="site-footer">
  <div class="container">
    <span>© {{year}} Musik in Schaumburg</span>
    <span class="maintainer-notice">
      Betreut von <a href="https://bmarwell.de" target="_blank" rel="noopener noreferrer">Benjamin Marwell</a>
      &nbsp;·&nbsp;
      <a href="{{basePath}}LICENSE" target="_blank" rel="noopener noreferrer">EUPL v. 1.2</a>
      &nbsp;·&nbsp;
      <a href="https://github.com/bmarwell/musik-in-schaumburg.de" target="_blank" rel="noopener noreferrer">Quellcode</a>
      &nbsp;·&nbsp;
      <a href="{{basePath}}impressum/">Impressum</a>
    </span>
    {{> sponsor-buttons-small}}
  </div>
</footer>
